# Byte-compiled / optimized / DLL files
*.py[cd]

# Distribution / packaging
build/
dist/
*.egg
*.egg-info/
.eggs/

# Unit test / coverage reports
.cache
htmlcov/
.coverage*
coverage.xml

# Sphinx documentation
_build/
*.mo

# Backup copies / swap files
*~
.*.swp

# macOS
.DS_Store
