# Byte-compiled / optimized / DLL files
*.py[cd]

# Distribution / packaging
build/
dist/
sdist/
*.egg
*.egg-info/
.eggs/

# Unit test / coverage reports
.cache
htmlcov/
.coverage*
coverage.xml
.mypy_cache/

# HinetPy test / download artifacts
testdir-*/
win32tools/
win32tools.tar.gz
*.cnt
*.ch
*.SAC
*.SAC_PZ

# Sphinx documentation
_build/
*.mo

# Backup copies / swap files
*~
.*.swp

# macOS
.DS_Store
