[tool.black]
line-length = 88
exclude = '''
(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)
'''

[tool.coverage.run]
omit = []

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--verbose --doctest-modules --cov=HinetPy --cov-report=term-missing --cov-report=xml"

[tool.isort]
profile = "black"
skip_gitignore = true
known_third_party = "HinetPy"

[tool.pylint.design]
max-args = 10
