# General dependencies
build
# Dev dependencies for testing
pytest
pytest-cov
# Dev dependencies for code style
ruff
# Dev dependencies for documentation
sphinx
sphinx-intl
sphinx_rtd_theme
# Dev dependencies for static type checks
mypy
types-requests
