# General dependencies
build
# Dev dependencies for testing
pytest
pytest-cov
coverage[toml]
codecov
# Dev dependencies for code style
ruff
# Dev dependencies for documentation
sphinx
sphinx-intl
sphinx_rtd_theme
