name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  check:
    name: Code Styles
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2.1.0

      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt

      - name: Check code style
        run: make check

  deploy-docs:
    name: Deploy documentations
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2.1.0

      # See https://github.com/warner/python-versioneer/issues/206
      - name: Fetch all history for all tags and branches
        run: git fetch --prune --unshallow

      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
          pip install .  # install HinetPy

      - name: Build documentation
        run: make doc

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        # Only deploy on master branch
        if: github.ref == 'refs/heads/master'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./docs/_build/html

  test:
    name: Tests - ${{ matrix.os }} - Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 1  # Hinet doesn't allow parallel data request
      fail-fast: false
      matrix:
        #python-version: [3.5, 3.6, 3.7, 3.8]
        python-version: [3.7]
        #os: [ubuntu-latest, macos-latest]
        os: [windows-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v2.1.0

      # See https://github.com/warner/python-versioneer/issues/206
      - name: Fetch all history for all tags and branches
        run: git fetch --prune --unshallow

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt

      - name: Install win32tools
        run: |
          # Download win32tools
          python -c "from HinetPy import Client; Client('${{ secrets.HINET_USERNAME }}', '${{ secrets.HINET_PASSWORD }}')._get_win32tools()"
          # Compile and install win32tools
          tar -xf win32tools.tar.gz && rm win32tools.tar.gz
          # patch the win2sac source code on macOS
          if [ "$RUNNER_OS" == "macOS" ]; then sed -i.bak 's/malloc.h/stdlib.h/' win32tools/win2sac.src/s4read_data.c; fi
          cd win32tools; make; mkdir bin; mv catwin32.src/catwin32 win2sac.src/win2sac_32 bin/; cd ..
          # Add to PATH
          echo "::add-path::${{ github.workspace }}/win32tools/bin"
        shell: bash

      - name: Set Hinet username and password
        run: |
          sed -i.bak 's/test_username/${{ secrets.HINET_USERNAME }}/; s/test_password/${{ secrets.HINET_PASSWORD }}/' tests/test_*.py
          rm tests/test_*.py.bak
        shell: bash

      - name: Run tests
        run: make test
        shell: bash

      - name: Upload coverage reports
        uses: codecov/codecov-action@v1
