name: Docs

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  deploy-docs:
    name: Docs
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.8.0

      - name: Checkout
        uses: actions/checkout@v2.3.4

      # See https://github.com/warner/python-versioneer/issues/206
      - name: Fetch all history for all tags and branches
        run: git fetch --prune --unshallow

      - name: Set up Python 3.x
        uses: actions/setup-python@v2.2.2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
          pip install .  # install HinetPy

      - name: Build documentation
        run: make doc

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3.8.0
        # Only deploy on master branch
        if: github.ref == 'refs/heads/master'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./docs/_build/html
